<div class="container">
  <div class="banner">
    <div class="container">
      <h1><strong>Jardin Home Services</strong></h1>
      <p>Nous créons le jardin que vous n'avez oser imaginer.</p>
      <a class="btn btn-flat" href="#">Devis</a>
    </div>
  </div>
  <div class="cards">
    <ul>
      <% @prestations.each do |prestation| %>
        <li><%= prestation.name %></li>
      <% end %>
    </ul>
  </div>
</div>
