<div class="container">
  <div class="banner">
    <div class="container">
      <h1><strong>Jardin Home Services</strong></h1>
      <p>Nous créons le jardin que vous n'avez oser imaginer.</p>
      <a class="btn btn-flat" href="#">Devis</a>
    </div>
  </div>
  <div class="row">
    <% @prestations.each do |prestation| %>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h4><%= prestation.category %></h4>
            <h5><%= prestation.name %></h5>
            <p class="card-text"><%= prestation.description %></p>
            <a class="btn btn-flat" href="#">Voir</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
